%section
  .menu
    <a data-scroll data-speed="500" data-easing="easeInOutCubic" data-url="false" href="#artists"><h1>Artists</h1></a>
    <a data-scroll data-speed="500" data-easing="easeInOutCubic" data-url="false" href="#releases"><h1>Releases</h1></a>
    / %a{href: '#artists'}
    /   %h1 Artists
    / %a{href: '#releases'}
    /   %h1 Releases
    / %a{href: '#third'}
    /   %h1 Contact Info
%section#artists
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, incidunt, a, aperiam, repellendus quos tempora inventore distinctio sit voluptatibus reiciendis vel molestias ipsam. Perspiciatis, autem enim laudantium beatae ipsa at!
%section#releases
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, voluptates, consequatur, cumque reprehenderit eum necessitatibus numquam corporis autem ex tempore exercitationem quibusdam fugit nobis rem dolorem quaerat deserunt nostrum enim?