%section
  .menu
    %a{href: '#first'}
      %h1 Artists
    %a{href: '#second'}
      %h1 Releases
    %a{href: '#third'}
      %h1 Contact Info
%section#second
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, incidunt, a, aperiam, repellendus quos tempora inventore distinctio sit voluptatibus reiciendis vel molestias ipsam. Perspiciatis, autem enim laudantium beatae ipsa at!
%section#third
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, voluptates, consequatur, cumque reprehenderit eum necessitatibus numquam corporis autem ex tempore exercitationem quibusdam fugit nobis rem dolorem quaerat deserunt nostrum enim?