$artists-background:     rgba(44, 52, 59, 0.9);
$releases-background:    rgba(80, 97, 111, 0.9);

body {
  background-image:       url('photo4.jpg');
  background-repeat:      no-repeat;
  background-attachment:  fixed;
  background-position:    center;
  font-family:            'Poiret One', cursive;
  color:                  white;
}

h1 {
  border-bottom:        1px solid white;
  padding:              10px;
  font-family:          'Raleway', sans-serif;
  font-weight:          200;
  font-size:            1em;
  &:hover {
    background:         #51616E;
    margin-left:        1%;
  }
}

section {
  width:                95%;
}

a {
  text-decoration:      none;
  color:                inherit;
}

li {
  height:               150px;
  width:                100%;
  background:           $releases-background;
  margin:               1px;
  float:                left;
  clear: both;
}

img {
  height: 150px;
  width: 150px;
}
