$menu-color:            #2C343B;
$artists-background:    rgba(44, 52, 59, 0.9);

.menu {
  position:             fixed;
  background-color:     $menu-color;
  width:                300px;
}

.social-media {
  position:             absolute;
  height:               100px;
  width:                500px;
  background-color:     $artists-background;
  bottom:               20px;
  right:                20px;
}

#unicode {
  font-size:            4em;
}





